@* The page will receive an aps-rout-locationId from calling page *@
@* Important: page is handling teh LocationModel, and not Domain.Location *@

@page "{locationId:int}"
@model CodeCampApp.Pages.Locations.DeleteModel
@{
    ViewData["Title"] = "Location Delete";
}

<h1>Location Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.LocationModel.VenueName?
</div>

<div class="card bg-info mb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="cardimg ">
                    @*<img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image cap">*@
                    <img class="card-img-top imgRnd10 imageShadow cardimgHdr"
                         src="@Model.LocationModel.ProfileImageFilename"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-sm">
                <div class="card-body">
                    <h3 class="card-title cardLocTitleBlue">@Model.LocationModel.VenueName</h3>
                    <h5 class="card-text">Address: @Model.LocationModel.Address1,  @Model.LocationModel.Address2</h5>
                    <h5 class="card-text"> @Model.LocationModel.CityTown, @Model.LocationModel.StateProvince  @Model.LocationModel.PostalCode</h5>
                    <h5 class="card-text"> @Model.LocationModel.Country</h5>
                </div>
            </div>
        </div>
    </div>
</div>

@* In Razor pages, we have two default handlers, OnGet and OnPost *@
@* The POTS operation will be used to take a delete action *@
<form method="post">
    <button type="submit" class="btn btn-danger">Delete!</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>