@* The page will receive an aps-rout-locationId from calling page *@
@* Important: page is handling teh LocationModel, and not Domain.Location *@

@page "{locationId:int}"
@model CodeCampApp.Pages.Locations.DetailModel
@{
    ViewData["Title"] = "Location Detail";
}

<h1>Location Detail</h1>

<div class="card bg-info mb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="cardimg ">
                    @*<img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image cap">*@
                    <img class="card-img-top imgRnd10 imageShadow cardimgHdr"
                         src="@Model.LocationModel.ProfileImageFilename"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-sm">
                <div class="card-body">
                    <h3 class="card-title cardLocTitleBlue">@Model.LocationModel.VenueName</h3>
                    <h5 class="card-text">Address: @Model.LocationModel.Address1,  @Model.LocationModel.Address2</h5>
                    <h5 class="card-text"> @Model.LocationModel.CityTown, @Model.LocationModel.StateProvince  @Model.LocationModel.PostalCode</h5>
                    <h5 class="card-text"> @Model.LocationModel.Country</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<a class="btn btn-primary" asp-page="./List"> Return to Locations list </a>

<a class="btn btn-primary"asp-page="./Edit" asp-route-locationId="@Model.LocationModel.Id">
  <i class="fa fa-edit"></i> Edit
</a>