@* The page will receive an aps-rout-locationId from calling page *@
@* Important: page is handling teh LocationModel, and not Domain.Location *@

@page "{locationId:int}"
@model CodeCampApp.Pages.Locations.DetailModel
@{
    ViewData["Title"] = "LocationDetail";
}

<h1>Location Detail</h1>

<div calss="card">
    <div class="d-flex flex-row">
        <div class="cardimg">
            <img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">@Model.Location.VenueName</h4>
            <h6 class="card-text">Address: @Model.Location.Address1,  @Model.Location.Address2</h6>
            <h6 class="card-text"> @Model.Location.CityTown, @Model.Location.StateProvince  @Model.Location.PostalCode</h6>
            <h6 class="card-text"> @Model.Location.Country</h6>
        </div>
    </div>
</div>


<a class="btn btn-primary" asp-page="./List"> Return to Locations list </a>

<a class="btn btn-primary"asp-page="./Edit" asp-route-locationId="@Model.Location.Id">
  <i class="fa fa-edit"></i> Edit
</a>