@* Important: page is handling teh LocationModel, and not Domain.Location *@

@page
@model CodeCampApp.Pages.Locations.ListModel
@{
    ViewData["Title"] = "Code camp - Locations List";
}

<h1>Locations List</h1>

@if (@Model.ActionMessage != null)
{
    <div class="alert alert-danger">@Model.ActionMessage</div>
}

<div class="container">

    <!-- row 1 -->
    <div class="row">
        <div class="col-sm ml-0">
            <div class="d-flex flex-row">
                <div class="pr-4">
                    @* Button to add a new element *@
                    <a class="btn btn-primary addbtn"
                       asp-page="./Edit">
                        <i class="fas fa-plus-circle"></i>
                        Add
                    </a>
                </div>
                <div class="p-0">
                    <form method="get">
                        <div class="from-group mb-2">
                            <div class="input-group">
                                <input type="search" class="form-control " placeholder="Search by Venue name"
                                       asp-for="SearchTerm" />
                                <span class="input-group-append">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row imgRnd5">

        <!-- Dynamic elements goes here -->
        @foreach (var loc in Model.LocationModels)
        {
            <div class="col-sm-6">

                @* Card *@
                <div class="card text-white mb-2 container bg-info cardloclist imgRnd10">

                    @* Card-row *@
                    <div class="row">

                        @* Colum - A *@
                        <div class="col-sm-6">
                            <div class="row">
                                <a class="btn-lg" data-toggle="tooltip" title="Detail"
                                   asp-page="./Detail"
                                   asp-route-locationId="@loc.Id">
                                    <img class="card-img-top imgRnd40 imageShadow cardloclistimg"
                                         src="@loc.ProfileImageFilename" alt="Card image cap">
                                </a>
                            </div>
                            <div class="row">
                                <a class="btn-lg" data-toggle="tooltip" title="Detail"
                                   asp-page="./Detail"
                                   asp-route-locationId="@loc.Id">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a class="btn-lg" data-toggle="tooltip" title="Edit"
                                   asp-page="./Edit"
                                   asp-route-locationId="@loc.Id">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn-lg"
                                   asp-page="./Delete" data-toggle="tooltip" title="Delete"
                                   asp-route-locationId="@loc.Id">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        @* col-A *@

                        @* Colum - B *@
                        <div class="col-sm-6">

                            <div class="card-body cardloclistbody">
                                <div class="row">
                                    <h5 class="card-title cardloclistVenue cardLocTitleBlue">@loc.VenueName</h5>
                                </div>
                                <div class="row">
                                    <h6 class="card-text cardloclistaddres"> @loc.Address1 </h6>
                                </div>
                                <div class="row">
                                    <h6 class="card-text cardloclistaddres"> @loc.Address2</h6>
                                </div>
                                <div class="row">
                                    <h6 class="card-text cardloclistcitystate"> @loc.CityTown,@loc.StateProvince @loc.PostalCode </h6>
                                </div>
                                <div class="row">
                                    <h6 class="card-text cardloclistcountry"> @loc.Country </h6>
                                </div>
                                <div class="row">
                                    <p class="card-text cardloclistphone">Phone: @loc.ContactPhone</p>
                                </div>

                            </div>
                            @*  <div class="card-body"> *@

                        </div>
                        @* col-B *@

                    </div>
                    @* card-Row *@

                </div>
                @* Card *@

            </div>
        }


    </div>
    @*  <div class="row d-flex justify-content-center"> *@

</div>


@section footer {
  List - 
}
