@* Important: page is handling teh LocationModel, and not Domain.Location *@

@page
@model CodeCampApp.Pages.Locations.ListModel
@{
    ViewData["Title"] = "Locations List";
}

<h1>Locations List</h1>

@if (Model.ActionMessage != null)
{
    <div class="alert alert-danger">@Model.ActionMessage</div>
}

<form method="get">
    <div class="from-group mb-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search by Venue name"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <small id="SearchHelp"
               class="form-text text-muted">
            The code camp  Location that interest you.
        </small>
    </div>
</form>

@* Button to add a new element *@
<a class="btn btn-primary"
   asp-page="./Edit">
    <i class="fas fa-plus-circle"></i>
    Add
</a>

<table class="table table-striped table-hover table-sm">
    @* Table header *@
    <thead>
        <tr>
            <th> </th>
            <th>VenueName</th>
            <th>CityTown</th>
            <th>StateProvince</th>
            <th>PostalCode</th>
            <th>Country</th>
        </tr>
    </thead>

    <tbody id="list-data">

        @* Use a partial view to render the table *@
        @foreach (var loc in Model.Locations)
        {
            <tr>
                <td>
                    <a class="btn-lg"
                       asp-page="./Detail"
                       asp-route-locationId="@loc.Id">
                        <i class="fa fa-search-plus"></i>
                    </a>
                    <a class="btn-lg"
                       asp-page="./Edit"
                       asp-route-locationId="@loc.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn-lg"
                       asp-page="./Delete"
                       asp-route-locationId="@loc.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                <td>@loc.VenueName</td>
                <td>@loc.CityTown</td>
                <td>@loc.StateProvince</td>
                <td>@loc.PostalCode</td>
                <td>@loc.Country</td>

            </tr>
        }
    </tbody>
</table>


@section footer {
    <div class="myComment">
        <!-- Variable that comes from page controller / Variable that comes from appsettngs.json -->
        <p>@Model.LocalMessage - @Model.ConfigMessage</p>
    </div>
}

