@* This is a partial view that receives a model element and renders rows *@
@* Model is passed by the page using the partial view :  <partial name="_ListTable" model="camp" />  *@

@using CodeCampApp
@model CodeCampApp.Models.CampModel

<tr>
    <td>@Model.Moniker</td>
    <td>@Model.Name</td>
    <td>@Model.EventDate</td>
    <td>@Model.Length</td>
    <td>@Model.LocationCityTown</td>
    <td>@Model.LocationStateProvince</td>
    <td>
        <a class="btn-lg"
           asp-page="./Detail"
           asp-route-moniker="@Model.Moniker">
            <i class="fa fa-search-plus"></i> Detail
        </a>
        <a class="btn-lg"
           asp-page="./Edit"
           asp-route-moniker="@Model.Moniker">
            <i class="fa fa-edit"></i> Edit
        </a>
        <a class="btn-lg"
           asp-page="./Delete"
           asp-route-moniker="@Model.Moniker">
            <i class="fa fa-trash"></i> Delete
        </a>
    </td>
</tr>


