@* The page will receive an aps-rout-speakerId from calling page *@
@* Important: page is handling the SpeakerModel, and not Domain.Speaker *@

@page "{speakerId:int}"
@model CodeCampApp.Pages.Speakers.DeleteModel
@{
    ViewData["Title"] = "Speaker Delete";
}

<h1>Speaker Delete</h1>

<div class="alert alert-danger">
    <h5>
        Are you sure you want to delete speaker :
        @Model.SpeakerModel.FirstName @Model.SpeakerModel.MiddleName @Model.SpeakerModel.LastName?
    </h5>
</div>

<div class="card bg-info mb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="cardimg p-3">
                    @*<img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image cap">*@
                    <img class="card-img-top imgRnd40 imageShadow cardImgHdr"
                         src="@Model.SpeakerModel.ProfileImageFilename"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <h4 class="card-title cardTitleBlue">@Model.SpeakerModel.FirstName @Model.SpeakerModel.MiddleName @Model.SpeakerModel.LastName</h4>

                    <h6>About the speaker:</h6>
                    <h5> <span class="spkerDescription">@Model.SpeakerModel.Description</span></h5>

                    <h6 class="card-text"><i>Location:</i><span class="badge badge-primary">@Model.SpeakerModel.CityTown @Model.SpeakerModel.StateProvince</span></h6>
                    <h6 class="card-text"><i>Topics: </i> <span class="badge badge-primary">@Model.SpeakerModel.Topics</span> </h6>

                    <h6 class="card-text"><i>Company:</i> <span class="badge badge-success">@Model.SpeakerModel.Company</span></h6>

                    <h6>
                        <a href=" @Model.SpeakerModel.CompanyUrl" target="_blank">
                            <img class="spkerLink imgRnd10 imageShadow"
                                 src="~/images/company.png" alt="Company">
                            @Model.SpeakerModel.CompanyUrl
                        </a>
                    </h6>

                    <h6>
                        <div class="spkerLinkImgHolder">
                            <a href="@Model.SpeakerModel.BlogUrl" target="_blank" class="card-link">
                                <img class="spkerLink imgRnd10 imageShadow"
                                     src="~/images/blog.png" alt="blogg">
                                @Model.SpeakerModel.BlogUrl
                            </a>
                        </div>
                    </h6>

                    <h6>
                        <div class="spkerLinkImgHolder">
                            <a href="@Model.SpeakerModel.Twitter" target="_blank" class="card-link">
                                <img class="spkerLink imgRnd10 imageShadow"
                                     src="~/images/Twitter.png" alt="Twitter">
                                @Model.SpeakerModel.Twitter
                            </a>
                        </div>
                    </h6>

                    <h6>
                        <div class="spkerLinkImgHolder">
                            <a href="@Model.SpeakerModel.GitHub" target="_blank" class="card-link">
                                <img class="spkerLink imgRnd10 imageShadow"
                                     src="~/images/githubPage.jpg" alt="GitHub">
                                @Model.SpeakerModel.GitHub
                            </a>
                        </div>
                    </h6>

                </div>
            </div>
        </div>
    </div>
</div>

@* In Razor pages, we have two default handlers, OnGet and OnPost *@
@* The POTS operation will be used to take a delete action *@
<form method="post">
    <button type="submit" class="btn btn-danger">Delete!</button>
    <a asp-page="./List" class="btn btn-secondary">Cancel</a>
</form>

