@* Important: page is handling teh SpeakerModel, and not Domain.Speaker *@

@page
@model CodeCampApp.Pages.Speakers.ListModel
@{
    ViewData["Title"] = "Speakers List";
}

<h1>Speakers List</h1>

@if (Model.ActionMessage != null)
{
    <div class="alert alert-danger">@Model.ActionMessage</div>
}

<form method="get">
    <div class="from-group mb-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search by Last name"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <small id="SearchHelp"
               class="form-text text-muted">
            The code camp Speaker that interest you.
        </small>
    </div>
</form>

@* Button to add a new element *@
<a class="btn btn-primary"
   asp-page="./Edit">
    <i class="fas fa-plus-circle"></i>
    Add
</a>

<div>
    <table class="table table-striped table-hover table-sm">
        @* Table header *@
        <thead>
            <tr class="row">
                <th class="col-sm-2"> </th>
                <th class="col-sm-2">LastName</th>
                <th class="col-sm-2">FirstName</th>
                <th class="col-sm-2">Topics</th>
                <th class="col-sm-2">CityTown</th>
                <th class="col-sm-2">StateProvince</th>
            </tr>
        </thead>

        <tbody id="list-data">

            @* Use a partial view to render the table *@
            @foreach (var spker in Model.Speakers)
            {
                <tr class="row">
                    <td class="col-sm-2">
                        <a class="btn-lg" data-toggle="tooltip" title="Detail"
                           asp-page="./Detail"
                           asp-route-speakerId="@spker.Id">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        <a class="btn-lg" data-toggle="tooltip" title="Edit"
                           asp-page="./Edit"
                           asp-route-speakerId="@spker.Id">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn-lg" data-toggle="tooltip" title="Delete"
                           asp-page="./Delete"
                           asp-route-speakerId="@spker.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                    <td class="col-sm-2">@spker.LastName</td>
                    <td class="col-sm-2">@spker.FirstName</td>
                    <td class="col-sm-2">@spker.Topics</td>
                    <td class="col-sm-2">@spker.CityTown</td>
                    <td class="col-sm-2">@spker.StateProvince</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section footer {
    <!-- Variable that comes from page controller / Variable that comes from appsettngs.json -->
}