@* Important: page is handling teh SpeakerModel, and not Domain.Speaker *@

@page
@model CodeCampApp.Pages.Speakers.ListModel
@{
    ViewData["Title"] = "Speakers List";
}

<h1>Speakers List</h1>

@if (@Model.ActionMessage != null)
{
    <div class="alert alert-danger">@Model.ActionMessage</div>
}

<div class="container">

    <!-- row 1 -->
    <div class="row">
        <div class="col-sm ml-0">
            <div class="d-flex flex-row">
                <div class="pr-4">
                    @* Button to add a new element *@
                    <a class="btn btn-primary addbtn"
                       asp-page="./Edit">
                        <i class="fas fa-plus-circle"></i>
                        Add
                    </a>
                </div>
                <div class="p-0">
                    <form method="get">
                        <div class="from-group mb-2">
                            <div class="input-group">
                                <input type="search" class="form-control " placeholder="Search Speaker"
                                       asp-for="SearchTerm" />
                                <span class="input-group-append">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* row 1 *@

    <!-- row 2 -->
    <div class="row">

        @foreach (var spk in Model.SpeakerModels)
        {
            <div class="col-12">
                <div class="row mt-2 p-2 text-white bg-info">

                    @* Col #1 *@
                    <div col="col-2">

                        <div class="spkerdatagrp1">
                            @* Car top *@
                            <a class="btn-lg" data-toggle="tooltip" title="Detail"
                               asp-page="./Detail"
                               asp-route-locationId="@spk.Id">
                                <img class="card-img-top imgRnd40 imageShadow cardspkerlistimg"
                                     src="@spk.ProfileImageFilename" alt="Image speaker">
                            </a>
                            <div class="">
                                <a class="btn-lg " data-toggle="tooltip" title="Detail"
                                   asp-page="./Detail"
                                   asp-route-locationId="@spk.Id">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a class="btn-lg " data-toggle="tooltip" title="Edit"
                                   asp-page="./Edit"
                                   asp-route-locationId="@spk.Id">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn-lg "
                                   asp-page="./Delete" data-toggle="tooltip" title="Delete"
                                   asp-route-locationId="@spk.Id">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    @* Col #2 *@
                    <div col="col-2">

                        <div class="spkerdatagrp2">
                            <h4 class="card-title">@spk.FirstName @spk.MiddleName @spk.LastName</h4>
                            <div class="spkearLinkGrp">
                                <div class="d-flex flex-nowrap">
                                    <div class="spkerLinkImgHolder">
                                        <a href="@spk.BlogUrl" class="card-link">
                                            <img class="spkerLink imgRnd10 imageShadow"
                                                 src="~/images/blog.png" alt="blogg">
                                        </a>
                                    </div>
                                    <div class="spkerLinkImgHolder">
                                        <a href="@spk.Twitter" class="card-link">
                                            <img class="spkerLink imgRnd10 imageShadow"
                                                 src="~/images/Twitter.png" alt="Twitter">
                                        </a>
                                    </div>
                                    <div class="spkerLinkImgHolder">
                                        <a href="@spk.GitHub" class="card-link">
                                            <img class="spkerLink imgRnd10 imageShadow"
                                                 src="~/images/githubPage.jpg" alt="GitHub">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @* Col #3 *@
                    <div col="col-8">

                        <div class="spkerdatagrp3 container">
                            <div class="row">
                                <div class="col-12">
                                    <h5>About the speaker</h5>
                                    <p> <span class="spkerDescription">@spk.Description</span>  </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6><i>Location:</i> <span class="badge badge-primary">@spk.CityTown @spk.StateProvince</span></h6>
                                    <h6><i>Topics: </i><span class="badge badge-primary">@spk.Topics</span></h6>
                                    <h5><i>Company: </i>
                                        <span class="badge badge-success">
                                          <a href=" @spk.CompanyUrl">  @spk.Company</a>
                                         </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
    @* row 2 *@

</div>
@* Container *@


@section footer {
    <!-- Variable that comes from page controller / Variable that comes from appsettngs.json -->
}